.new-budget-container {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-budget-container .content {
  width: 100%;
  padding: 96px;
  background: #f0f0f5;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}

.new-budget-container .content section {
  width: 100%;
  max-width: 500px;
  transition: .5s;
}

.new-budget-container .content section .iten-panel {
  height: 400px;
  width: 500px;
  background-color: #fefefe;
}

.new-budget-container .content .logo-register-newbudget {
  position: relative;
  height: 40px;
  margin-left: 25%;
  transform: translate(50%, 50%);
  bottom: 0px;
}

.new-budget-container .content form {
  width: 100%;
  max-width: 400px;
  min-height: 400px;
  transition: .5s;
}

.new-budget-container .content form input {
  margin: 3px;
}

.new-budget-container .content form textarea {
  margin-left: 3px;
  margin-top: 3px;
}

.new-budget-container .content form .link-position {
  margin-top: 8px;
  margin-bottom: -25px;
}

.new-budget-container .content section .iten-panel {
  overflow: auto;
}

.new-budget-container .content section .iten-panel .list-iten {
  display: flex;
  flex-direction: row;
  height: 50px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(177, 174, 174);
}

.new-budget-container .content section .iten-panel .list-iten .list-text {
  margin-left: 15px;
  min-width: 360px;
}


/*--------------------------------------------*/

@media (max-width: 1100px) {
  .new-budget-container {
    width: 100%;
    max-width: 850px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .new-budget-container .content {
    display: inline;
    justify-content: center;
    margin: 0px 10px;
    padding: 0;
  }
  .new-budget-container .content section {
    margin: 15px auto;
    text-align: center;
    transition: .5s;
  }
  .new-budget-container .content form {
    margin: 0 auto 55px;
  }
}