.register-container {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-container .content {
  width: 100%;
  padding: 96px;
  background: #f0f0f5;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}

.register-container .content section {
  width: 100%;
  max-width: 500px;
  transition: .5s;
}

.register-container .content section h1 {
  margin: 0px 0 32px;
  font-size: 32px;
}

.register-container .content section p {
  font-size: 18px;
  color: #737380;
  line-height: 32px;
}

.register-container .content form {
  width: 100%;
  max-width: 400px;
  min-height: 400px;
  transition: .5s;
}

.register-container .content .logo-register {
  position: relative;
  right: 60px;
  bottom: 60px;
}

.register-container .content form input {
  margin: 3px;
}

.register-container .content form .input-group .zero-margin {
  padding: 15px;
}

.register-container .content form .input-group {
  display: flex;
}

.register-container .content form .input-group input+input {
  margin-left: 1px;
  margin-right: -2px;
}

.register-container .content section .redAlert {
  color: rgb(235, 49, 32);
}

.register-container .content section .orangeAlert {
  text-decoration: none;
  color: #F9A229;
}

.register-container .content form label {
  font-size: 16px;
  margin-left: 8px;
  font-weight: bold;
}

/*------------------------------------------------------------*/

@media (max-width: 960px) {
  .register-container {
    width: 100%;
    max-width: 800px;
    height: 120vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .register-container .content {
    display: inline;
    justify-content: center;
    margin: 25px 0px;
  }
  .register-container .content section {
    margin: 0 auto;
    margin-top: 20vh;
    text-align: center;
    transition: 1s;
  }
  .register-container .content form {
    margin: 0 auto;
    margin-top: 30px;
  }
  .register-container .content .logo-register {
    position: relative;
    right: 0px;
    bottom: 60px;
  }
}