.cardContainer {
 display: flex;
 flex-wrap: wrap;
 flex-direction: row;
 justify-content: space-around;
}

.cardContainer {
 flex: 1 1 300px;
}

.cardContainer .card {
 margin: 5px;
 border-radius: 15px;
 background-color: #fff;
}

.cardContainer .cardHeader {
 width: 100%;
 text-align: center;
 font-size: 16px;
 font-weight: 700;
 border-radius: 5px;
 color: #fff;
 padding: 5px;
 background-color: #43415d;
}

.cardContainer .cardBody {
 min-height: 10px;
 min-width: 250px;
 max-width: 800px;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 flex-wrap: wrap;
 margin: 15px;
}

.dashTextInfo {
 font-size: 18px;
 color: #2c2c2c;
 font-weight: 800;
 padding: 5px;
}

.dashTextInfo::after {
 content: "|";
}
.dashTextInfo::before {
 content: "|";
}
